@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: #0a0e17; */
  background-color: #F1FDF3;
}

html {
  scroll-behavior: smooth;
}

nav {
  transition: background-color 0.5s ease-in-out;
}

.bg-transparent {
  background-color: transparent;
}

.nav-link:visited {
  color: white;
  /* Ubah warna teks menjadi putih untuk link yang sudah dikunjungi */
}
